{% extends 'base.html' %}

{% block title %}
{{ cafe.place_name }} 상세 정보
{% endblock %}

{% block content %}
    
<h2>{{ cafe.place_name }}</h2>
<p>도로명 주소: {{ cafe.road_address_name }}</p>
<a href="{{ cafe.place_url }}" target="_blank">지도에서 보기</a>

<h3>리뷰</h3>
<ul>
    {% for review in reviews %}
    <li>{{ review.rating }} stars - {{ review.comment }}</li>
    {% empty %}
    <li>리뷰가 없습니다.</li>
    {% endfor %}
</ul>

<a href="{% url 'create_cafe_review' cafe.id %}">리뷰 작성하기</a>
    
    
{% endblock %}